redmine/apps/wordpress/htdocs/wp-content/blogs.dir
redmine/mysql/data/
redmine/apache2/logs/
redmine/jenkins/apache-tomcat/logs/
redmine/jenkins/apache-tomcat/temp/
redmie/subversion/tmp/svnserve.pid
gerrit/logs/
gerrit/chache/
git_repo/
