[gerrit]
	basePath = /opt/git_repo
	canonicalWebUrl = http://elastos.org/review/
[database]
	type = MYSQL
	hostname = localhost
	database = gerrit
	username = root
[auth]
	type = OPENID
[sendemail]
	enable = true
	smtpServer = mail.elastos.org
	smtpUser = elastos_code_review
	smtpPass = Elastos123
[container]
	user = root
	javaHome = /opt/jenkins/java/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8080/review/
[cache]
	directory = cache
[user]
	email = elastos_code_review@elastos.org
	name = Elastos_PM
