[gerrit]
	basePath = /opt/git_repo
	canonicalWebUrl = http://elastos.org/review/
[database]
	type = mysql
	hostname = localhost
	database = gerrit_new_test
	username = root
[auth]
	type = OPENID
#	trustedOpenID = http://elastos.org
#	logoutUrl = http://elastos.org
	contributorAgreements = false
[sendemail]
	enable = true
	smtpServer = mail.elastos.org
	smtpUser = elastos_code_review
	smtpPass = Elastos123
[core]
	packedGitOpenFiles = 4096
	packedGitLimit = 400m
	packedGitWindowSize = 16k
	streamFileThreshold = 2047m
[container]
	user = root
	javaHome = /opt/jdk/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8080/review/
[cache]
	directory = cache
[cache "openid"]
	maxAge = 5
	memoryLimit = 64
[user]
	email = elastos_code_review@elastos.org
	name = Elastos_PM
[theme]
        backgroundColor = ffffff
        topMenuColor = ffffff
        textColor = 264d69
        trimColor = eef3f5
        selectionColor = d1e6ea
	changeTableOutdatedColor = f5cccc
	tableOddRowColor = ffffff
	tableEvenRowColor = f5f5ff

