
[mysqladmin]
user=root

[mysqld]
server-id=2
basedir=/opt/rubystack/mysql_slave
datadir=/opt/rubystack/mysql_slave/data
port=3307
socket=/opt/rubystack/mysql_slave/tmp/mysql.sock
tmpdir=/opt/rubystack/mysql_slave/tmp
max_allowed_packet=16M
bind-address=127.0.0.1
log-bin=/opt/rubystack/mysql_slave/log-bin/log-bin.index

character-set-server=UTF8
collation-server=utf8_general_ci
[mysqld_safe]
mysqld=mysqld.bin

[client]
port=3307
socket=/opt/rubystack/mysql_slave/tmp/mysql.sock

default-character-set=UTF8
[manager]
port=3306
socket=/opt/rubystack/mysql_slave/tmp/mysql.sock
pid-file=/opt/rubystack/mysql_slave/tmp/manager.pid
default-mysqld-path=/opt/rubystack/mysql_slave/bin/mysqld.bin

